.pyc
processing.log
draft.ipynb
temp.html
temp.text
temp-epa.txt
no.text
temp.py
.vscode/settings.json
scratch.ipynb
scratch.py
*.pyc
.gitignore
configs/fontlist-v330.json
__pycache__/airnow.cpython-39.pyc
__pycache__/console.cpython-39.pyc
